<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav>
			<ul>
				{# charger les Livres en rechargeant la page (une nouvelle vue) #}
				<li><a href="{{ path ('lien1') }}">lien1-afficherLivres</a></li>
			</ul>
		</nav>
		{% block body %}{% endblock %}


	</body>
</html>
