{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quiz') }}
{% endblock %}

{% block body %}

	{# {{ dump (app.session.get('card_compilation') )}} #}
	{# {{ dump (app.session.get('counter') )}} #}
	{# {{ dump (correctCount)}} #}

	<section id="question-area">
		<div class="col d-flex justify-content-center">
			<div class="card" style="width: 18rem;">
				<img src=" {{ quizProposition.image }} " class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">{{ quizProposition.title }}</h5>
					<p class="card-text">{{ quizProposition.description }}</p>
				</div>
			</div>
		</div>
	</section>
	<section id="options-area">
		<div class="container col d-flex justify-content-center">
			<div class="row hidden-md-up">
				{% for i in 0..2 %}
				<div class="col-md-4">
					<div class="card option" data-id="{{ options[i].id }}" data-type="{{ options[i].type }}" style="width: 18rem;">
						<img src=" {{ options[i].image }} " class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ options[i].title }}</h5>
							<p class="card-text">{{ options[i].description }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}