<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- C'est le même CSS dans tous les HTML, on n'a pas besoin de créer un bloc en principe -->

    <!-- CSS here -->
    <!-- Le css est le même pour toutes les pages dans ce template, pas besoin d'un bloc.
    S'il y avait de différences, on mettrait toute la partie commune dans un bloc "stylesheets"
    et on utiliserait la fonction "parent" dans les vues qui heritent -->
    <link rel="stylesheet" href="{{ asset ('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset ('assets/css/responsive.css') }}"> -->

</head>

<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">+880 4664 216</a></li>
                                    <li><a href="#">Mon - Sat 10:00 - 7:00</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">home</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elements</a></li>

                                            </ul>
                                        </li>
                                        <li><a href="service.html">services</a></li>
                                        <li><a href="{{ path ('contact') }}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block bradcam_area %}
    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>{% block bradcam_title %}{% endblock %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->
    {% endblock %}

    {% block content %}
    {# contenu de chaque page #}
    {% endblock %}


    {% include "./front/includes/footer.html.twig" %}

    {% block javascripts %}
    <!-- Le js est aussi le même pour toutes les pages dans ce template, pas besoin d'un bloc.
    On a crée un bloc juste pour montrer comment on peut rajouter du js dans les pages qui héritent
    Observez le code de l'index, il y a un console.log après l'appel à la fonction "parent" -->

    <!-- JS here -->
    <script src="{{ asset ('assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ asset ('assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset ('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset ('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset ('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset ('assets/js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset ('assets/js/ajax-form.js') }}"></script>
    <script src="{{ asset ('assets/js/waypoints.min.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ asset ('assets/js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset ('assets/js/scrollIt.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.scrollUp.min.js') }}"></script>
    <script src="{{ asset ('assets/js/wow.min.js') }}"></script>
    <script src="{{ asset ('assets/js/nice-select.min.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset ('assets/js/plugins.js') }}"></script>
    <script src="{{ asset ('assets/js/gijgo.min.js') }}"></script>


    <!--contact js-->
    <script src="{{ asset ('assets/js/contact.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.form.js') }}"></script>
    <script src="{{ asset ('assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset ('assets/js/mail-script.js') }}"></script>

    <script src="{{ asset ('assets/js/main.js') }}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
            //     icons: {
            //      rightIcon: '<span class="fa fa-caret-down"></span>'
            //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
        var timepicker = $('#timepicker').timepicker({
            format: 'HH.MM'
        });
    </script>
    {% endblock %}


</body>

</html>