{% extends 'base.html.twig' %}

{% block title %}MealMatch- Mes Recettes{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>

</style>
{% endblock %}
{% block body %}

<div class="container mt-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}


<div class="container">
<div class="example-wrapper">
    <h1>Mes Recettes</h1>

			<a href="{{ path('recette_creation') }}" class="btn btn-primary">
				Créer une recette</a>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Titre</th>
      <th scope="col">Nombre de Personnes</th>
      <th scope="col">Date de Création</th>
      <th scope="col">Edition</th>
			<th scope="col">Suppresion</th>

    </tr>
  </thead>
  <tbody>
    {% for recette in recettes%}
    <tr class="table-primary">
      <th scope="row">{{recette.id}}</th>
      <td>{{recette.titre}}</td>
      <td>{{recette.nbPersonne}}</td>
      <td>{{recette.createdAt|date('d/m/Y')}}</td>
      <td>
								<a href="{{ path('recette.edit', { id: recette.id }) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('recette.delete', { id: recette.id }) }}" class="btn btn-warning">Supprimer</a>
							</td>

    </tr>
    {%endfor%}
  </tbody>
</table>
{# display navigation #}
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(recettes) }}
</div>


   
 
    
   

    
</div>
</div>
{% endblock %}
